<div class="container">

    <!-- jumbotron -->
    <div class="jumbotron">
        <h1 id="jumboText">EAT DA BURGER</h1>
        <p id="jumboText">Order the burger you want and then munch it down!</p>
        <br><img width="150" alt="EatDaBurger" src="/assets/img/burgerFavIcon.png">
        <h2 id="jumboText">What'll you be having?</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger" id="jumboText">Burger Name:</label>
                    <input type="text" id="newburger" name="burger">

                    {{!-- Create a button in `index.handlebars` that will submit the user input into the database. --}}
                    <button type="submit" class="btn btn-success" id="addburger"><span class="fas fa-hamburger"></span></button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">

        <!-- Burgers ordered -->
        <div class="col-sm-6" id="burgerStatusArea">
            <div class="panel panel-default">
                <div class="panel-heading" id="burgerOrders">BURGER ORDERS</div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fas fa-utensils"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Burgers eaten -->
        <div class="col-sm-6" id="burgerStatusArea">
            <div class="panel panel-default">
                <div class="panel-heading" id="burgersEaten">BURGERS EATEN</div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>